.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink0 {
  flex-shrink: 0;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-space-around {
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@for $i from 1 through 10 {
  .flex-#{$i} {
    flex: #{$i};
  }
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-none {
  flex: none;
}

.flex-auto {
  flex: auto;
}

.flex-flow-row-wrap {
  flex-flow: row wrap;
}

.flex-flow-row-no-wrap {
  flex-flow: row nowrap;
}

.flex-direction {
  flex-direction: row-reverse;
}

.grid {
  display: grid;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
