.row {
  display: flex;
  flex-grow: row nowrap;
}
.justify {
  &-between {
    justify-content: space-between;
  }
}
.items {
  &-center {
    align-items: center;
  }
}

.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
