.badge-name {
  position: relative;
  padding-left: 25px;
}
.badge-name::before {
  content: attr(data-name);
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgb(0, 153, 255);
  border-radius: 50%;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
